@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	.description,.statistic
		padding: 40px 0
	body
		.site-header
			padding: 125px 0 150px
			justify-content: flex-end
	.description_header
		font-size: 30px
// ≥768px
+media-breakpoint-down(sm)
	
// ≥576px
+media-breakpoint-down(xs)
	.preloader .pulse
		left: 40%
		top: 45%
	.top
		bottom: 20px
		&.active
			right: 20px
	.description_header
		margin-bottom: 40px
	.description,.statistic
		padding: 25px 0
	.col-xs-6
		width: 50%
	.menu-btn
		display: block
		position: absolute
		top: 10px
		right: 10px
	.logo
		float: none
		width: 60px
	.navigation
		font-size: 30px
		text-align: center
		transition: all .5s ease
		float: none
		height: 0
		overflow: hidden
		.nav_list
			display: block
			.list_item
				margin: 0
		&.active
			height: auto
	body
		.site-header
			background-image: url(../img/header_bg_sm.jpg)
			background-position: top center


/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
